.btn {
  margin: 4px 2px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: #008cba;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  outline: none;
  &:focus {
    outline: none;
  }
}

.button-light {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  &:hover {
    background-color: #008cba;
    color: white;
  }
}

.button-dark {
  background-color: #008cba;
  color: white;
  border: 2px solid #008cba;
  &:hover {
    background-color: white;
    color: black;
  }
}
