@import '../../styles/shadows';
@import '../../styles/sizes';
@import '../../styles/colors';

.service-card {
  width: 500px;
  display: flex;
  flex-flow: column nowrap;
  border-radius: $border-radius;
  @include base-block-shadow;
  & > div {
    border-bottom: 1px solid $gray;
    &:last-child {
      border-bottom: 0;
    }
  }

  &_dark {
    background-color: $dark-background;
    border: 1px solid black;
    color: white;
    & > div {
      border-bottom: 1px solid black;
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &_light {
    background-color: $light-background;
    border: 1px solid $gray;
  }
}

.header {
  height: 50px;
  padding: 0 $padding;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 26px;
}

.price {
  height: 50px;
  padding: 0 $padding;
  display: flex;
  align-items: center;
}
